.container {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #fafafa;
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: fit-content;
}

.title {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-height: 60vh;
  overflow: auto;
  gap: 0.5rem;
  list-style: none;
}
