.container {
  display: grid;
  grid-template-columns: 100px auto;
  border: 1px solid #fafafa;
  border-radius: 0.3rem;
  padding: 0.5rem;
  gap: 0.5rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.selected {
  background-color: #444;
}

.image {
  grid-row: span 2;
  border-radius: 0.5rem;
}
