.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-column: span 2;
  border: 1px solid #fafafa;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.title {
  border-bottom: 1px solid #fafafa;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
