.form {
  display: flex;
  height: 100%;
  max-width: 10rem;
}
.input {
  height: 100%;
  width: 100%;
  border: 1px solid #aaa;
  text-align: center;
  background-color: transparent;
  border-radius: 0.3rem;
}
.button {
  display: none;
  height: 100%;
  width: 30%;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border: 1px solid #aaa;
  background-color: transparent;
}

.form:hover > .input,
.input:focus {
  width: 70%;
  background-color: field;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form:hover > .button,
.input:focus ~ .button {
  display: inline-block;
}

@media (max-width: 700px) {
  .form {
    flex: 1;
  }
  .input {
    width: 100%;
  }
  .form:hover > .input,
  .input:focus {
    background-color: field;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
